                                                                /* Global */

*{
  box-sizing: border-box;
  font-family: 'Cairo';
  
}

body{
  font-family: 'cairo';
  margin: 0;
}

.container{
  padding: 0;
  margin: 0 auto;
}
.shadow{
  box-shadow: 1px 1px 10px 1px rgb(153, 144, 144);
}


                                                                /* Header */

.d-flex{
  display: flex;
}


                                                                /*  الشعار*/
.d-flex{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  padding: 1%;
justify-content: right;

}
.b-flex{
  display: flex;
}


                                                                /* login page */


.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.form1{
  width: 99%;
  box-shadow: 0px 2px 15px rgb(207, 203, 203);
  padding: 12%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input{
  padding: 4%;
  width: 98%;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgb(198, 198, 198);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-bottom: 8px;
  margin-top: 8px;

}

input:focus{
  border: 2px solid #ffffff;
}

input::placeholder{
  color: rgb(0, 0, 0,0.4);
}

.SignDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}



.SignDiv button ,
.SignDiv-nav{ 
  outline: none;
  border: none;
  background-color: #032522bb;
  padding: 3% 15%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  margin: 2%;

}
.SignDiv-nav1{ 
  outline: none;
  border: none;
  background-color: #ee0f0f;
  padding: 1% 2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  margin: 1%;

}

.SignDiv button:hover,
.SignDiv-nav:hover{
  background-color: #00ff228c;
  color: #000000;
  border: 2px solid rgb(0, 0, 0);
  
}
.placehold{
  text-align: right;
}


                                                                /* Errors*/
.error{
  color: red;
  text-align:right;
  font-size: 14px;
  margin-top: 0;
}


                                                                /* Wallpaper */
.wall{
  background-image: url('./componant/Wall.js');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}




                                                                /* HEADER BUTTONS */
.lol{
  outline: none;  
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.61);
  font-weight: bold;
  text-decoration: none;
  padding: 1%;
  margin: 0.5%;
}

.lol button:hover,
.lol:hover{
  background-color: rgba(0, 0, 0, 0.363);
  color: #000000;
  border: 2px solid rgb(255, 255, 255);
}







                                                                /* SignUp Page */

.parentS{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.form1S{
  width:58%;
  box-shadow: 0px 2px 15px rgb(204, 204, 204);
  padding: 2%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input{
  padding: 4%;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgb(198, 198, 198);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-bottom: 8px;
  margin-top: 8px;

}

input:focus{
  border: 2px solid #5dbafda8;
}

input::placeholder{
  color: rgb(0, 0, 0,0.4);
}

.SignDivS{
  display: flex;
  justify-content: center;
  align-items: center;
}



.SignDivS button ,
.SignDivS-nav1{ 
  outline: none;
  border: none;
  background-color: #032522bb;
  padding: 3% 15%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  margin: 2%;

}

.SignDivS button:hover,
.SignDivS-nav1:hover{
  background-color: rgba(0, 255, 34, 0.548);
  color: #000000;
  border: 2px solid rgb(0, 0, 0);
  
}
.placeholdS{
  text-align: right;
}

                                                                /* Errors*/
.error{
  color: red;
  text-align:right;
  margin-top: 0;
}









                                                                /* UPDATE PAGE */

.parent1{
justify-content: right;
padding: 20px;
}
.form2{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.UpdateDiv button ,
.UpdateDiv-nav{ 
  outline: none;
  border: none;
  background-color:#032522bb;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  margin-top: 10px;
}

.UpdateDiv button:hover,
.UpdateDiv-nav:hover{
  background-color: rgba(0, 255, 34, 0.548);
  color: #000000;
  border: 2px solid rgb(0, 0, 0);
}
.Updateuser{
  text-align: right;
  padding: 20px;

}
.nabd{
  position: fixed,left;
  color:rgb(255, 255, 255);
  display: flex;
}






                                                      /*iPad------------resolution*/


@media screen and (max-width: 768px){


                                                                /* Header Ipad */

.d-flex{
  display: flex;
}


                                                                /*  الشعارIpad*/
.d-flex{
  text-decoration: none;
  font-size: 20px;
  padding: 1%;
justify-content: right;

}
.b-flex{
  display: flex;
}


                                                                /* login page Ipad*/


.parent{
  margin-top: 25%;
}

.form1{
  width: 100%;
  padding: 4%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input{
  padding: 4%;
  width: 98%;
  margin-bottom: 8px;
  margin-top: 8px;

}



.SignDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}



.SignDiv button ,
.SignDiv-nav{ 
  outline: none;
  border: none;
  padding: 3% 15%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
  margin: 2%;

}
.SignDiv-nav1{ 
  outline: none;
  border: none;
  padding: 1% 2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid ;
  font-weight: bold;
  text-decoration: none;
  margin: 1%;

}

.SignDiv button:hover,
.SignDiv-nav:hover{
  border: 2px solid;
  
}
.placehold{
  text-align: right;
}

                                                                /* Wallpaper Ipad*/
.wall{
  background-image: url('./componant/Wall.js');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}




                                                                /* HEADER BUTTONS Ipad*/
.lol{
  padding: 2%;
}


                                                                /* SignUp Page Ipad*/

.parentS{
  margin-top: 13%;
}

.form1S{
  width:58%;
  padding: 2%;
}

input{
  padding: 4%;
  margin-top: 9px;
}




                                                                /* UPDATE PAGE Ipad*/

.parent1{
padding: 1%;
}

.nabd{
  position: fixed,left;
}
.nabd1{
  position: fixed,left;
}
}


                                                      /*Mobile ---------------------resolution*/


@media screen and (max-width: 480px){




                                                                /* Header Mobile */

.d-flex{
  display: flex;
}


                                                                /*  الشعارMobile*/
.d-flex{
  text-decoration: none;
  font-size: 15px;
  padding:1%;
justify-content: right;

}
.b-flex{
  display: flex;
}


                                                                /* login page Mobile*/


.parent{
  margin-top: 70%;
}

.form1{
  width: 100%;
  padding: 4%;
}




                                                                /* Wallpaper Mobile*/
.wall{
  background-image: url('./componant/Wall.js');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}




                                                                /* HEADER BUTTONS Mobile*/
.lol{
  padding: 2.5%;
}


                                                                /* SignUp Page Mobile*/

.parentS{
  margin-top: 50%;
}


                                                                /* UPDATE PAGE Mobile*/

.parent1{
padding: 2%;
}

.nabd{
  position: fixed,left;
}
.nabd1{
  position: fixed,left;
}
}