/*Global*/

.content-flex{
    display: flex;

}

/*SIDE Bar*/

.side-bar{
    padding: 1%;
    border-right: 1px solid rgba(143, 143, 143, 0.36);
    height: 65vh;
    width: 20%;
    text-align: right;

}

.user-link{
    color: rgb(0, 0, 0);
    text-decoration:    none;
    font-size: 22px;
    display: block;
    margin-bottom: 5%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    padding: 7%;
}

.user-link:hover{
    background-color: rgba(143, 143, 143, 0.36);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.active{
    background-color: #006d77;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/*TABLE*/

table{
    border-collapse: collapse;
    width:100%;
    table-layout: fixed;
}

th,td{
    border: 1px solid rgba(143, 143, 143, 0.36);
    padding: 0.75rem;
    text-align: center;
}

tr:nth-child(even){
    background: rgba(201, 201, 201, 0.36)
}
th{
    background:rgba(0, 0, 0, 0.603);
    color: rgb(255, 255, 255);
}

td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*ICONS*/
.icons{
    color: rgb(0, 0, 0);
    margin-left: 5%;
}








                                                      /*iPad-----------------resolution*/


@media screen and (max-width: 768px){




/*SIDE Bar iPad*/

.side-bar{
    padding: 1%;
    height: 60vh;
    width: 20%;
}

.user-link{
    color: rgb(0, 0, 0);
    text-decoration:    none;
    font-size: 22px;
    display: block;
    margin-bottom: 7%;

    padding: 11%;
}

/*TABLE iPad*/

table{
    border-collapse: collapse;
    width:100%;
    table-layout: fixed;
}

th,td{
    border: 1px solid rgba(143, 143, 143, 0.36);
    padding: 0.75rem;
    text-align: center;
}


td{
    white-space: nowrap;
    overflow: scroll;
    text-overflow: clip;
}

/*ICONS iPad*/
.icons{
    color: rgb(0, 0, 0);
    margin-left: 5%;
}

  
}


                                                      /*Mobile------------------resolution*/


@media screen and (max-width: 480px){




    /*SIDE Bar Mobile*/

.side-bar{
    padding: 1%;
    height: 60vh;
    width: 25%;
}

.user-link{
    color: rgb(0, 0, 0);
    text-decoration:    none;
    font-size: 22px;
    display: block;
    margin-bottom: 2%;

    padding: 2%;
}

/*TABLE Mobile*/

table{
    border-collapse: collapse;
    width:100%;
    table-layout: fixed;
}


}