.messageBox {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 0 15px;
    border-radius: 14px;
    border: 2px solid rgba(63, 63, 63, 0.384);
  }
  .messageBox:focus-within {
    border: 2px solid rgba(0, 255, 115, 0.692);
  }
  .fileUploadWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
  #file {
    display: none;
  }
  .fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .fileUploadWrapper label svg {
    height: 20px;
  }
  .fileUploadWrapper label svg path {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .fileUploadWrapper label svg circle {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .fileUploadWrapper label:hover svg path {
    stroke: #fff;
  }
  .fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #3c3c3c;
  }
  .fileUploadWrapper label:hover .tooltip {
    display: block;
    opacity: 1;
  }
  .tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 12px;
    text-wrap: nowrap;
    background-color: #000;
    padding: 6px 10px;
    border: 1px solid #3600b4;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  #messageInput {
    width: 3000%;
    height: 0px;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(0, 0, 0);
    font-family: Play;
    font-size: 16px;
    padding: 18px 20px 18px 20px;
  }

  #messageInput:focus ~ #sendButton svg path,
  #messageInput:valid ~ #sendButton svg path {
    fill: #1F5357;
    stroke: #00ff6a;
  }
  
  #sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  #sendButton svg {
    height: 20px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  #sendButton svg path {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  #sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: #00ff6a;
  }

  

  .inputchat{
    border: none !important;
  }


  .message-text {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    max-width: 80%; /* تحديد الحد الأقصى لعرض الرسالة */
  }
  
