/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 80px;
  --section-background: rgb(255, 255, 255);
  --main-duration: 0.5s;
}

/* Start Global Rules */
html {
  scroll-behavior: smooth;
}

.container-D {
  padding-left: 1%;
  padding-right: 1%;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media(min-width: 768px) {
  .container-D {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container-D {
    width: 980px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container-D {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.special-heading-D {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading-D+p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;

}

@media (max-width: 767px) {
  .special-heading-D {
    font-size: 60px;
  }

  .special-heading-D+p {
    margin-top: -20px;
  }
}

/* End Components */
/* Start Header */
.header-D {
  color: #000000;
  margin-top: 8%;
  text-align: center;
}

/* text Header */
.txtdoc {
  color: #000000;
  font-weight: bolder;
  text-align: center;
}

/* Start Landing Section */
.landing-D {
  margin-top: 1%;
  height: calc(15vh - 4px);
  position: relative;
  background-size: cover;
  background-color: rgb(255, 255, 255);
}

.landing-D .container-D {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.InputContainer {
  height: 80px;
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: 4px solid #1f535748;
}

.inputss {
  width: 93%;
  max-height: 5px !important;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(0, 0, 0);
  text-align: right;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 3%;
  box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);

}

.inputss:focus {
  border: none;
}


.labelforsearch {
  cursor: text;
  padding: 0px 15px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: .3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: .3s;
}

/* End Landing Section */
/* Start doctors list */
.doctors-list-D {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  padding: 1% 0;
}

.doctors-list-D .container-D {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 20px;
  overflow: scroll;
}

.doctors-list-D .container-D::-webkit-scrollbar {
  display: none;
}

.Doctors-D {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: flex;
  justify-content: right;
  padding: 15px;
  background-color: #1f53570a;
  border-radius: 30px;
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.Doctors-D img {
  width: 200px;
  height: 200px;
  ;
  object-fit: contain;
  position: relative;
}

.Doctors-D .doctors-data-D h1 {
  font-size: 25px;
  padding-right: 15px;
  color: #1F5357;
  text-align: right;
}

.Doctors-D .doctors-data-D h3 {
  font-size: 18px;
  padding-right: 15px;
  color: #000000;
  text-align: right;
}

.Doctors-D .doctors-data-D h4 {
  font-size: 14px;
  padding-right: 15px;
  color: #000000e1;
  text-align: right;
}


@media (max-width: 467px) {
  .doctors-list-D .Doctors-D {
    flex-direction: column;
    text-align: center;
  }
}

/* End doctors list */

/* Start common-questions */
.common-questions-D {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  padding: 5px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.common-questions-D .container-D {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 2px;
  background-color: #797979;

}

.common-questions-D section {
  min-height: 2px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f3fafa;
  padding: 7px;

}

.title-D {
  background-color: #1F5357;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.faq-D {
  margin-top: 1px;
  padding-bottom: 1px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.377);
  cursor: pointer;
  text-align: right;
  justify-content: right;
}

.question-D {
  display: flex;
  justify-content: space-between;
  align-items: right;
  color: #000000;
  justify-content: right;
  text-align: right;

}

.question-D h4 {
  font-size: 1.2rem;
}

.answer-D {
  background-color: #0000000c;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
  -webkit-transition: max-height 0.8s ease;
  -moz-transition: max-height 0.8s ease;
  -ms-transition: max-height 0.8s ease;
  -o-transition: max-height 0.8s ease;
}

.answer-D p {
  padding-top: 1px;
  min-height: 2px;
  font-size: 1rem;
  padding: 3px;
}

.faq-D.active .answer-D {
  max-height: 300px;
  animation: fade 0.8s ease-in-out;
  -webkit-animation: fade 0.8s ease-in-out;
}

.faq-D.faq-D.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform .5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* End common-questions */


.show {
  display: block;
}

.hide {
  display: none;
}

li {
  text-align: right;
  justify-content: flex-end;
}

li::marker {
  color: rgb(93, 186, 253);
}

.search-input-D {
  animation: fadeIn 0.6s ease-in-out;
  /* استخدم اسم التأثير وحدد المدة ونمط التسارع */
}


/* تطبيق التأثير */
.Doctors-D {
  animation: slideIn 0.5s ease-in-out;
  /* استخدم اسم التأثير وحدد المدة ونمط التسارع */
}

/* تعريف التأثير */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #9ee5fa;
  --color-background: #353535;
  --color-outline: #9ee5fa80;
  --color-shadow: #00000080;
  margin-left: 10px;
  /* المسافة بين الأزرار */
}

.btn-conteinerr {
  display: flex;
  justify-content: center;
  --color-text: #9ee5fa;
  --color-background: #353535;
  --color-outline: #9ee5fa80;
  --color-shadow: #00000080;
  transform: scaleX(-1);
  margin-right: 10px;
  /* المسافة بين الأزرار */
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 0px 3px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #92E3A9;
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.09em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.04em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: #92E3A9;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

.pagination-buttons {
  display: flex;
}

.buttondet {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.buttondet::before,
.buttondet::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.buttondet::before {
  top: 0;
  border-bottom-width: 0;
}

.buttondet::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.buttondet:active::before,
.buttondet:active::after {
  right: 3px;
  left: 3px;
}

.buttondet:active::before {
  top: 3px;
}

.buttondet:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #a2c4ac;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #1F5357;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.buttondet:hover {
  color: #0f1923;
}

.buttondet:hover .button_sl {
  width: calc(100% + 15px);
}

.buttondet:hover .button_lg::after {
  background-color: #fff;
}



.button-lovation {
  position: absolute;
  right: 83%;
}





.loaderload {
  position: relative;
  left: 20%;
  width: 900px;
  height: 130px;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
  padding: 15px;
  background-color: #e2e2e2;
  overflow: hidden;
  transform: scaleX(-1);
}

.loaderload:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

.loaderload .wrapperload {
  width: 100%;
  height: 100%;
  position: relative;
}

.loaderload .wrapperload>div {
  background-color: #cacaca;
}

.loaderload .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loaderload .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loaderload .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loaderload .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loaderload .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loaderload .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}